body{
    background: #fff;

}
.block_ul{
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #f8f8f8;
    ul{
        width: 100%;
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            padding: 10px;
            border-bottom: 1px solid #eee;
        }
    }
    li.active{
        color: aquamarine;
    }
}
.testContent{
    margin: 20px;
}
.pic{
    display: block;
    width: 100%;
    margin-top: 20px;
}